@model TravelAgency.ViewModels.ManageUserPasswordViewModel

@{
    ViewData["Title"] = "ManageUserPassword";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Manage User Password Settings</h1>

<div class="container-fluid">
    <div class="card-body">
        <form asp-action="ManageUserPassword" method="post">
            <input type="hidden" asp-for="UserId" />

            <!-- Checkbox for "IsPasswordChangeRequired" -->
            <div class="form-check">
                <input class="form-check-input" type="checkbox" asp-for="IsPasswordChangeRequired" />
                <label class="form-check-label" asp-for="IsPasswordChangeRequired">
                   
                    Require password change on next login?
                </label>
            </div>

            <!-- Checkbox for "OneTimePassword" -->
            <div class="form-check">
                <input class="form-check-input" type="checkbox" asp-for="OneTimePasswordActive" />
                <label class="form-check-label" asp-for="OneTimePasswordActive">
                   
                    Require one time password
                </label>
            </div>

            <!-- Input field for "PasswordExpirationDays" -->
            <div class="form-group mt-3">
                <label asp-for="PasswordExpirationDays" class="form-label">Set Password Expiration (days):</label>
                <input type="number" class="form-control" asp-for="PasswordExpirationDays" min="1" />
                <span asp-validation-for="PasswordExpirationDays" class="text-danger"></span>
            </div>

            <!-- Input field for "PasswordExpirationDays" -->
            <div class="form-group mt-3">
                <label asp-for="PasswordHistoryLimit" class="form-label">Set Password History Limit:</label>
                <input type="number" class="form-control" asp-for="PasswordHistoryLimit" min="1" />
                <span asp-validation-for="PasswordHistoryLimit" class="text-danger"></span>
            </div>

            <!-- Input field for "PasswordLength" -->
            <div class="form-group mt-3">
                <label asp-for="PasswordLengthRequired" class="form-label">Set Password Min length:</label>
                <input type="number" class="form-control" asp-for="PasswordLengthRequired" min="6" />
                <span asp-validation-for="PasswordLengthRequired" class="text-danger"></span>
            </div>

            <!-- Input field for "PasswordLength" -->
            <div class="form-group mt-3">
                <label asp-for="PasswordNumbersRequired" class="form-label">Set min number of numbers in password required:</label>
                <input type="number" class="form-control" asp-for="PasswordNumbersRequired" min="2" />
                <span asp-validation-for="PasswordNumbersRequired" class="text-danger"></span>
            </div>



            <!-- Submit Button -->
            <button type="submit" class="btn btn-primary mt-3">Update Settings</button>
        </form>
    </div>
</div>
